In [2]:
import pandas as pd

df = pd.read_csv("logs/log_20_1.csv")
df.head()

   Unnamed: 0            x              z              p
0           0  [-4.5 -2.5]  [-2.13944215]   27079.274902
1           1  [-2.5 -4.5]   [-1.8200702]  101447.205969
2           2    [4.5 1.5]   [7.39337238]    3613.930348
3           3    [3.5 2.5]    [7.2336864]    -137.990230
4           4  [-1.5 -0.5]   [1.45332376]    6211.458251